@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 4.267vw;
  @media (min-width: 768px) {
    font-size: 1vw;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.transition-300 {
  @apply transition-all duration-300 ease-out !important;
}
.transition-400 {
  @apply transition-all duration-400 ease-out !important;
}
.transition-1200 {
  @apply transition-all duration-1200 ease-out !important;
}

.small-swiper {
  @apply h-full px-20 py-6 bg-gray-main transition-300 !important;
}

.small-swiper .swiper-wrapper {
  @apply transition-400 !important;
}

.swiper-slide {
  @apply select-none !important;
}

.small-swiper-hide {
  @apply w-0 px-0 !important;
}

.small-swiper .swiper-slide {
  @apply h-[15.5%] flex flex-col items-center cursor-pointer !important;
}

.small-swiper .swiper-slide img {
  @apply h-4/5;
}

.small-swiper .swiper-slide img {
  @apply opacity-50 transition-all duration-300 ease-out !important;
}

.small-swiper .swiper-slide:hover img {
  @apply opacity-80 !important;
}

.small-swiper .swiper-slide-thumb-active img {
  @apply opacity-100 !important;
}
.small-swiper .swiper-slide-thumb-active img {
  @apply ring-[6px] ring-blue-main !important;
}

.small-swiper .swiper-slide .swiper-slide-text {
  @apply h-1/5 text-center text-white text-0.75 mt-2.5 opacity-100 !important;
}

.small-swiper .swiper-scrollbar-vertical {
  @apply bg-transparent !important;
}

.small-swiper .swiper-scrollbar-drag {
  @apply transition-all ease-out !important;
}

.big-swiper .swiper-scrollbar-vertical {
  @apply w-1.5 translate-x-1 !important;
}

.small-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag,
.big-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag {
  @apply w-1.5 bg-neutral-500 !important;
}
.small-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag:hover,
.big-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag:hover,
.small-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag:active,
.big-swiper .swiper-scrollbar-vertical .swiper-scrollbar-drag:active {
  @apply bg-neutral-600 transition-colors ease-out !important;
}

.big-swiper .swiper-scrollbar-horizontal {
  @apply h-1.5 -translate-y-1 !important;
}

.big-swiper .swiper-scrollbar-horizontal .swiper-scrollbar-drag {
  @apply h-1.5 bg-neutral-500 !important;
}

.big-swiper {
  @apply w-[100vh] h-[100vw] lg:w-[81%] bg-gray-main transition-300 !important;
}

.big-swiper .swiper-wrapper {
  @apply transition-400 !important;
}

.big-swiper.full-width {
  @apply w-screen h-full !important;
}

.big-swiper .swiper-slide-active {
  z-index: 10;
}

.big-swiper .swiper-slide img {
  @apply block  h-full transition-300;
}

.big-swiper .swiper-slide img.img-landscape {
  @apply w-[100vh] h-[100vw];
}

.big-swiper .swiper-slide img.fit-width {
  @apply object-cover;
}

.big-swiper .swiper-slide img.not-fit-width {
  @apply object-contain;
}

.big-swiper .swiper-slide img.slide-rotate-90 {
  @apply rotate-90 !important;
}

.big-swiper .swiper-slide img.slide-rotate-180 {
  @apply rotate-180 !important;
}
.big-swiper .swiper-slide img.slide-rotate-270 {
  @apply rotate-[270deg] !important;
}

.initial-small-swiper {
  @apply flex flex-col gap-8 !important;
}

.big-swiper.fit-width .swiper-scrollbar-drag {
  @apply bg-neutral-400 !important;
}
